@charset "utf-8";

body {
	font-family: 'FuturaFont','微软雅黑';
	font-size: 36px;
}

input {
	display: inline-block;
	width: 100px;
	height: 40px;
	font-family: 'FuturaFont','微软雅黑';
	font-size: 20px;
	border-radius: 5px;
	background-color: #0966a8;
	color: #fff;
	cursor: pointer;
}
input:hover{
	background-color: #104579;
	color: #7ee5d6;
}

#testContent{
	width: 1000px;
	height: 500px;
	border: 1px solid #0966a8;
	position: absolute;
	bottom: 5px;
	left:calc(50% - 500px);
}