@charset "utf-8";
/*登录相关*/
#loginDiv {
	width: 520px;
	height: 365px;
	position: absolute;
}

#loginContent {
	width: 520px;
	height: 320px;
	position: relative;
}

#loginTitle {
	width: 500px;
	height: 68px;
	font-size: 200%;
	line-height: 68px;
	border-bottom: 2px solid #99ccff;
	text-align: right;
	padding-right: 20px;
	color: #3366cc;
	position: relative;
}

#loginTitle img {
	width: 56px;
	height: 56px;
	position: absolute;
	top: 6px;
	left: 50px;
}

#loginUsername {
	width: 460px;
	height: 60px;
	font-size: 120%;
	line-height: 60px;
	color: #369;
	text-align: left;
	padding-left: 40px;
}

#loginUsername span{
	font-size: 60%;
}

#loginUsername input{
	width: 300px;
	height: 34px;
	font-size: 60%;
	border: 2px solid #999;
	border-radius: 5px;
}

#loginPassword {
	width: 460px;
	height: 60px;
	font-size: 120%;
	line-height: 60px;
	color: #486;
	text-align: left;
	padding-left: 40px;
}

#loginPassword span{
	font-size: 60%;
}

#loginPassword input{
	width: 300px;
	height: 34px;
	font-size: 60%;
	border: 2px solid #999;
	border-radius: 5px;
}

.loginButton {
	width: 130px;
	font-size: 65%;
	position: absolute;
	height: 36px;
	line-height: 36px;
	border: 2px solid #9cf;
	border-radius: 36px;
	text-align: center;
	background-color: #f4fcff;
	box-shadow: 2px 2px 5px rgba(0,0,0,.5);
}

.loginButton:hover{
	background-color: #fafcff;
	cursor: pointer;
	border: 2px solid #3cf;
}

#loginSubmit{
	color: green;
	left: 140px;
	top: 250px;
}

#loginSubmit:active{
	color: green;
	left: 140px;
	top: 250px;
}

#loginReset {
	color: #830;
	left: 310px;
	top: 250px;
}

/*生成表格相关*/
.standTable{
	width: 100%;
	background-color: #fcfcfc;
	color: #249;
	border-spacing: 0px;
}

.standTable th{
	height: 34px;
	line-height: 34px;
	text-align: center;
	background-color: #e5eef6;
	color: #125c86;
	border-bottom: 1px solid #bdf;
	font-size: 60%;
}

.standTable td {
	height: 29px;
	line-height: 29px;
	text-align: center;
	border-bottom: 1px solid #d5dee6;
	font-size: 50%;
}

.headTh1,.headTh2 {
	/*此处可分别进行自定义样式，灵活更改样式*/
}
.contentTd1,.contentTd2{
	/*此处可分别进行自定义样式，灵活更改样式*/
}

.standTable .oddTr{
	background-color: #fdfdfd;
}

.standTable .evenTr{
	background-color: #f4f4f4;
}

.standTable tr:hover{
	background-color: #def;
}

/*弹框确认按钮*/
.popButton {
	font-size: 55%;
	width: 80px;
	text-align: center;
	color:#38c;
	border: 2px solid #bdf;
	border-radius: 10px;
	cursor: pointer;
}
#submitButton {
	margin-left: 110px;
	margin-top: 20px;
}
#cancelButton {
	margin-left: 110px;
	margin-top: 20px;
}

/*生成菜单样式*/
#menuDivContent .menuSystemDiv{
	min-height: 40px;
	width: 295px;
}
#menuDivContent .menuSystemTitle {
	height: 39px;
	width: 280px;
	padding-left: 0px;
	line-height: 39px;
	background-color: #61b0e9;
	color: #247;
	cursor: pointer;
	font-size: 75%;
	position: relative;
	border-bottom: 1px solid #b5bee6;
}
#menuDivContent .menuSystemTitle:hover{
	color: #240;
}
#menuDivContent .menuSystemSpan {
	position: absolute;
	left: 10px;
}
#menuDivContent .menuSubSystemDiv{
	min-height: 35px;
	width: 285px;
}
#menuDivContent .menuSubSystemTitle {
	height: 34px;
	width: 260px;
	padding-left: 20px;
	line-height: 34px;
	border-bottom: 1px solid #d5e6de;
	background-color: #6bc18b;
	color: #474;
	cursor: pointer;
	font-size: 65%;
}
#menuDivContent .menuParaDiv {
	height: 30px;
	width: 250px;
	padding-left: 30px;
	line-height: 30px;
	background-color: #f0f0f0;
	color: #255;
	font-size: 55%;
}